* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 540px;
}

.right {
  width: 720px;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.content h1 {
  margin-bottom: 20px;
}


.content button {
  width: 480px;
  height: 56px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-family: 'Inter';
  font-weight: 600; 
  font-size: 16px;
  cursor: pointer;
}

.content button:hover {
  background-color: #0056b3;
}
input[type=text]:focus {outline:none;}
input[type=email]:focus {outline:none;}
input[type=password]:focus {outline:none !important;}
input{
  border:none;
}

fieldset {




border: 1px solid #9A9A9A;
border-radius: 10px; 
height: 58px;
padding-top: 5px;








}

















a{
  text-decoration: none;
  color: #7A4BFF;
  font-family: inter;
 
  font-weight: 550;
   font-size: 14px;
   line-height: 21px;
}




.coolinput {
    display: flex;
    flex-direction: column;
    width: 480px;
    position: static;
    max-width: 240px;
    margin-bottom: 32px;

  }
  
  .coolinput label.text {
    font-family: inter;
    font-weight: 400;
    position: relative;
    width: 28px;
    height: 15px;
    line-height: 14.52px;
    top: 0.5rem;
    margin: 0 0 0 15px;
    padding: 0 5px;
    background: white;
    width: fit-content;
    color: rgb(134, 134, 134);
    
  }
  
  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border-radius: 5px;
  
  }
  
.loginInput{
    width: 480px;
    height: 53px;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid silver !important;
    
}
.Remember{
    display: flex;
  
    height: 21px;
    gap: 12px;
    
}
.Remember p{
    
    
    font-family: inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    

}
.Remember input{
    width: 18px;
    height: 18px;
    
}
.cont{
    display: flex;
    width:480px ;
    height: 21px;

    justify-content: space-between;


}
.forgot{
   font-family: inter;
   color: #7A4BFF;
  
   font-size: 14px;
   line-height: 21px;
   text-decoration: none;
   
   
}
.pass-icon{
  margin-right: 14px;
  cursor: pointer;
}
legend{
  color:#9A9A9A;
   padding-left: 7px;
   padding-right: 7px;
   margin-left: 14px;
}
.custom_upload{
  margin-bottom:19px;

  background: rgb(16,112,255);
  background: linear-gradient(11deg, rgba(16,112,255,1) 1%, rgba(185,127,255,1) 34%, rgba(255,162,102,1) 63%, rgba(255,162,102,1) 73%, rgba(255,201,167,1) 100%);
  border:none;
  padding-top:4px;
  display:block;
  height: 26px;
  border-radius: 12px;
  width: 100px;
  margin-left:10px
  
}